* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	min-height: 100%;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	background: #000;
	color: #fff;
	font-family: "Helvetica", "Arial", "BIZ UDGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "メイリオ", Meiryo, sans-serif;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}
a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
img {
	margin: 0;
}
table {
	/* border: 1px solid #0f0; */
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
.container {
	background: url(../images/bg_abstract1_blue.png) no-repeat center center; 
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
.container img {
	vertical-align: middle;
}
.container td {
	white-space: nowrap;
}
.wrapper {
	display: inline-block;
	position: relative;
}
.tehai_table {
	height: 640px;
	width: 640px;
}
.tehai_table > tbody > tr:first-child > td {
	height: 40px;
	width: 100%;
}
.tehai_table > tbody > tr:first-child > td:first-child,
.tehai_table > tbody > tr:first-child > td:last-child {
	width: 40px;
}
.tehai_table > tbody > tr:nth-child(2) > td {
	height: 100%;
	width: 100%;
}
.tehai_table > tbody > tr:nth-child(2) > td:first-child,
.tehai_table > tbody > tr:nth-child(2) > td:last-child {
	line-height: 0;
	width: 40px;
}
.tehai_table > tbody > tr:last-child > td:first-child,
.tehai_table > tbody > tr:last-child > td:last-child {
	width: 56px;
}
.pai_top {
	margin-bottom: -32px;
	position: relative;
	top: -32px;
}
.pai_left {
	float: left;
	left: -32px;
	margin-right: -32px;
	position: relative;
	top: 0px;
}
.pai_right {
	float: left;
	left: -32px;
	margin-right: -32px;
	position: relative;
	top: 0px;
}
.pai_bottom {
	margin-bottom: -48px;
	position: relative;
	top: -48px;
	z-index: 9999;
}
.pai:hover {
	/* transform: scale(1.1); */
	animation: poyooon 0.1s linear 0s 1;
}
@keyframes poyooon {
	0%   { transform: scale(1.0); }
	50%  { transform: scale(1.2); }
	100% { transform: scale(1.0); }
}
.naki_top {
	left: -72px;
	position: relative;
}
.naki_left {
	bottom: -72px;
	float: left;
	margin-left: 4px;
	position: relative;
}
.naki_right {
	float: left;
	margin-left: 4px;
	position: relative;
	top: -72px;
}
.naki_bottom {
	position: relative;
	right: 120px;
	z-index: 1;
}
.naki_top img,
.pai_top img {
	vertical-align: top;
}
.naki_left img,
.pai_left img {
	text-align: left;
}
.naki_right img,
.pai_right img {
	text-align: right;
}
.naki_bottom img,
.pai_bottom img {
	vertical-align: bottom;
}
.yama_table {
	height: 100%;
	width: 100%;
}
.yama_table > tbody > tr:first-child > td {
	height: 40px;
	width: 100%;
}
.yama_table > tbody > tr:first-child > td:first-child,
.yama_table > tbody > tr:first-child > td:last-child {
	width: 40px;
}
.yama_table > tbody > tr:nth-child(2) > td {
	height: 100%;
	width: 100%;
}
.yama_table > tbody > tr:nth-child(2) > td:first-child,
.yama_table > tbody > tr:nth-child(2) > td:last-child {
	line-height: 0;
	width: 40px;
}
.yama_table > tbody > tr:last-child > td:first-child,
.yama_table > tbody > tr:last-child > td:last-child {
	height: 40px;
}
.field_table {
	height: 100%;
	width: 100%;
}
.field_table > tbody > tr:first-child > td {
	height: 104px;
	width: 100%;
}
.field_table > tbody > tr:first-child > td:first-child,
.field_table > tbody > tr:first-child > td:last-child {
	width: 104px;
}
.field_table > tbody > tr:nth-child(2) > td {
	height: 100%;
	width: 100%;
}
.field_table > tbody > tr:nth-child(2) > td:first-child,
.field_table > tbody > tr:nth-child(2) > td:last-child {
	line-height: 0;
	width: 104px;
}
.field_table > tbody > tr:last-child > td {
	height: 104px;
	width: 100%;
}
.field_table > tbody > tr:last-child > td:first-child,
.field_table > tbody > tr:last-child > td:last-child {
	width: 104px;
}
.field img {
	position: relative;
}
.field td {
	line-height: 0;
}
.field_top img {
	vertical-align: bottom;
}
.field_bottom img {
	vertical-align: top;
}
.field_bottom td {
	text-align: left;
}
.field_top {
	margin-left: -16px;
}
.field_left,
.field_right {
	height: 256px;
}
.data_table {
	/* background: rgba(0, 0, 0, 0.2); */
	font-size: 16px;
	height: 220px;
	line-height: 1.6;
	width: 220px;
}
.data_table > tbody > tr:first-child > td {
	height: 56px;
	width: 100%;
}
.data_table > tbody > tr:first-child > td:first-child,
.data_table > tbody > tr:first-child > td:last-child {
	width: 56px;
}
.data_table > tbody > tr:nth-child(2) > td {
	height: 100%;
	width: 100%;
}
.data_table > tbody > tr:nth-child(2) > td:first-child,
.data_table > tbody > tr:nth-child(2) > td:last-child {
	width: 56px;
}
.data_table > tbody > tr:last-child > td {
	height: 56px;
	width: 100%;
}
.data_table > tbody > tr:last-child > td:first-child,
.data_table > tbody > tr:last-child > td:last-child {
	width: 56px;
}
#kaze_top {
	transform: rotate(180deg);
}
#kaze_left {
	transform: rotate(90deg);
}
#kaze_right {
	transform: rotate(-90deg);
}
.kaze {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
	width: 32px;
}
.riichi_top,
.riichi_bottom {
	height: 16px;
	line-height: 0;
}
.riichi_left,
.riichi_right {
	width: 16px;
}
#riichi_bottom,
#riichi_right,
#riichi_top,
#riichi_left {
	visibility: hidden;
}
.riichi {
	max-height: 68px;
	max-width: 68px;
}
.ten {
	max-height: 24px;
	max-width: 24px;
}
#riibou_cnt,
#renchan_cnt {
	display: inline-block;
	width: 16px;
	text-align: right;
}
.sai {
	max-height: 16px;
	max-width: 16px;
}
.pai32 {
	max-height: 32px;
	max-width: 32px;
}
.pai48 {
	max-height: 48px;
	max-width: 48px;
	z-index: 9999;
}
#opening {
	background: #000;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#opening_credits {
	display: none;
	font-size: 24px;
	height: 100%;
	text-align: center;
	width: 100%;
}
#opening_credits a {
	border-bottom: 2px solid #fff;
}
#opening_credits a:hover {
	color: #d93725;
	border-bottom: 2px solid #d93725;
}
#opening_credits > div {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}
#opening_credits > div > div:first-child {
	font-size: 1em;
	margin-bottom: 1em;
}
#opening_credits > div > div:first-child span {
	font-size: 12px;
}
#opening_credits > div > div:last-child p {
	font-size: 16px;
	line-height: 1.6;
	margin: 1em 0;
}
#opening_credits > div > div:last-child p span {
	font-size: 12px;
}
#opening_credits > div > div:last-child > div {
	display: inline-block;
	font-size: 0.7em;
	text-align: left;
}
#opening_title {
	background: url(../images/bg_abstract2_green.png) no-repeat center center; 
	background-size: 100% 100%;
	display: none;
	height: 100%;
	width: 100%;
}
#opening_title img {
	animation: anime_right 3s ease infinite;
	position: absolute;
	right: 40px;
	top: 180px;
}
#opening_title_logo {
	margin-top: -160px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}
#opening_title_logo div {
	color: #fff;
	font-size: 24px;
}
#opening_title_logo span {
	color: #d93725;
	font-size: 64px;
}
#opening_title_menu > div:first-child {
	font-size: 24px;
	margin-top: 40px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
	top: 50%;
	width: 100%;
}
#opening_title_menu > div > div {
	background: rgba(0, 0, 0, 0.6);
	display: inline-block;
	font-size: 16px;
	line-height: 2;
	margin-top: 80px;
	padding: 1em;
	text-align: left;
}
#opening_title_menu > div:last-child {
	bottom: 8px;
	font-size: 16px;
	position: absolute;
	right: 8px;
}
#eyecatch {
	background: rgba(0, 0, 0, 0.6);
	cursor: default;
	display: none;
	height: 100%;
	left: 0;
	text-align: center;
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 9999;
}
#eyecatch div {
	font-size: 64px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}
.player_menu {
	padding: 4px;
	position: absolute;
	right: 80px;
	bottom: 100px;
}
#player_menu,
#player_naki_menu {
	display: none;
}
#dialog {
	display: none;
}
.dialog_wrapper {
	background: rgba(0, 0, 0, 0.6);
	height: 400px;
	left: 50%;
	line-height: 1.6;
	margin-left: -200px;
	margin-top: -200px;
	position: absolute;
	top: 50%;
	width: 400px;
	z-index: 1;
}
.dialog {
	padding: 8px;
}
#dialog_next {
	border-bottom: 2px solid #fff;
	bottom: 8px;
	position: absolute;
	right: 8px;
}
#bonus {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#bonus div {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}
#bonus img {
	animation: anime_bonus 7s ease infinite;
	overflow: hidden;
}
@keyframes anime_bonus {
    0% { transform: rotate(0.2deg) scaleX(1) scaleY(1) translate3d(0, 0, 0); }
    50% { transform: rotate(0deg) scaleX(1.02) scaleY(1.02) translate3d(0, -1px, 0); }
    100% { transform: rotate(0.2deg) scaleX(1) scaleY(1) translate3d(0, 0, 0); }
}
#ending {
	background: rgba(0, 0, 0, 0.6);
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#ending div {
	font-size: 24px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}
#effect {
	display: none;
	position: absolute;
	z-index: 10000;
}
#dialog img {
	max-height: 32px;
	max-width: 32px;
}
.chara {
	/* background: rgba(0, 0, 0, 0.4); */
	overflow: hidden;
	position: fixed;
	height: 300px;
	width: 200px;
	z-index: 0;
}
.chara_top {
	left: 0;
	top: 0;
}
.chara_left {
	bottom: 0;
	left: 0;
}
.chara_right {
	right: 0;
	top: 0;
}
.chara_bottom {
	bottom: 0;
	right: 0;
}
.chara_img {
	background: no-repeat center top;
	background-size: 240px auto;
	height: 400px;
	width: 200px;
}
.chara_data {
	bottom: 0px;
	position: absolute;
	text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;
	width: 100%;
}
.chara_data div {
	padding: 2px 8px;
}
.chara_score {
	font-size: 24px;
}
.chara_name {
	font-size: 16px;
}
#chara_top {
	animation: anime_top 3.3s ease infinite;
	transform-origin: 50% 50%;
}
@keyframes anime_top {
    0% { transform: rotate(0.2deg) scaleX(-1.02) scaleY(1.02) translate3d(0, 0, 0); }
    50% { transform: rotate(0deg) scaleX(-1) scaleY(1) translate3d(0, -1px, 0); }
    100% { transform: rotate(0.2deg) scaleX(-1.02) scaleY(1.02) translate3d(0, 0, 0); }
}
#chara_left {
	animation: anime_left 3.5s ease infinite;
	transform-origin: 50% 50%;
}
@keyframes anime_left {
    0% { transform: rotate(0deg) scaleX(-1) scaleY(1) translate3d(0, 0, 0); }
    50% { transform: rotate(0.2deg) scaleX(-1.02) scaleY(1.02) translate3d(0, -1px, 0); }
    100% { transform: rotate(0deg) scaleX(-1) scaleY(1) translate3d(0, 0, 0); }
}
#chara_right {
	animation: anime_right 3s ease infinite;
	transform-origin: 50% 50%;
}
@keyframes anime_right {
    0% { transform: rotate(0deg) scaleX(1) scaleY(1) translate3d(0, 0, 0); }
    50% { transform: rotate(0.2deg) scaleX(1.02) scaleY(1.02) translate3d(0, -1px, 0); }
    100% { transform: rotate(0deg) scaleX(1) scaleY(1) translate3d(0, 0, 0); }
}
#chara_bottom {
	animation: anime_bottom 3.2s ease infinite;
	transform-origin: 50% 50%;
}
@keyframes anime_bottom {
    0% { transform: rotate(0.2deg) scaleX(1.02) scaleY(1.02) translate3d(0, 0, 0); }
    50% { transform: rotate(0deg) scaleX(1) scaleY(1) translate3d(0, -1px, 0); }
    100% { transform: rotate(0.2deg) scaleX(1.02) scaleY(1.02) translate3d(0, 0, 0); }
}
.align_center {
	text-align: center;
}
.align_center2 {
	margin-left: auto;
	margin-right: auto;
}
.align_right {
	text-align: right;
}
.valign_top {
	vertical-align: top;
}
.valign_middle {
	vertical-align: middle;
}
.valign_bottom {
	vertical-align: bottom;
}
#pai_cnt {
	font-size: 20px;
}
#fill {
	display: block;
	height: 648px;
	overflow: hidden;
	width: 1080px;
}
